<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Logs</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

  <h1><%logs%></h1>
  <table style="width:50%">
  <tr>
      <th>ID</th>
      <th>Level</th> 
      <th>Message</th>
    </tr>

    
  <% for (log of logs){%>
    <tr>
        <td><%= logs.id %></td>
        <td><%= logs.level %></td> 
        <td><%= logs.message %></td>
      </tr>
  <% } %>
  </table>


</body>
</html>  